<table>
<tr>
<td><%= link_to 'Show', user_path(current_user) %></td>
<td><%= link_to 'Edit', edit_user_path(current_user) %></td>
<td><%= link_to 'Delete', user_path(current_user), :method => :delete %></td>
<td><%= link_to 'New Photo', new_user_path %></td>
</tr>
</table>